@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: inherit;
}
body {
  /* Colours */
  --bg_blue: #3d5a80;
  --card_blue: #98c1d9;
  --text_blue: #293241;
  --btn_blue: #e0fbfc;
  /* fonts */
  font-family: "Poppins", sans-serif;
  /* layout */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg_blue);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card_blue);
  margin: 2em;
  padding: 3em 2em;
  border-radius: 50px;
  min-height: 500px;
  width: 100%;
  max-width: 400px;
}

.form_control {
  font-weight: 500;
  width: 100%;
  border: none;
}

.form_text {
  background: none;
  color: var(--text_blue);
  padding: 0;
}

#form_title {
  font-size: 1.75rem;
}
#form_name {
  font-size: 1.25rem;
}
#form_story {
  line-height: 1.6;
  margin: 1em 0;
  height: 200px;
}
#form_submit {
  font-weight: 700;
  font-size: 1.75em;
  color: var(--btn_blue);
  background-color: var(--text_blue);
  width: fit-content;
  padding: 0.15em 0.75em;
  margin-top: auto;
  border-radius: 10px;
  cursor: pointer;
}

.name_div {
  margin-right: auto;
}
.post > #form_story {
  margin: auto 0;
}

@media screen and (min-width: 800px) {
  .form {
    max-width: 800px;
    min-height: 400px;
    font-size: larger;
  }
  #form_story {
    height: 150px;
    font-size: 1.2rem;
  }
  .post > #form_story {
    height: fit-content;
  }
  .name_div {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
  }
  #form_title, #form_name {
    padding-right: 1em;
  }
  #form_timestamp {
    margin-left: auto;
  }
}
